html {
    font-size: 62.5%;
}

body {
    background-color: #E9EDF1;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

header {
    background-color: #DBE1E8;
    padding: 2.5em;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.3s ease-in-out;
    background: #FFF;
    min-height: 100vh;
    width: 60%;
    padding: 3em;
}

a.logo {
    color: #0460BC;
    font-size: 2.2rem;
    font-weight: bold;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4.3em;
}

ul li a {
    font-size: 1.8rem;
    color: black;
}

ul li a.active {
    font-weight: bold;
}

ul li a:hover {
    color: #0460BC;
}

a.cart {
    background-color: #C3CCD7;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: black;
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: .4rem;
}

a.cart p {
    margin: 0;
}

a.cart:hover {
    background-color: #B5C0CE;
}

.close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 2em;
}

.menu-btn,
.close-btn {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.menu-btn img,
.close-btn img {
    width: 3rem;
}

.mobile-nav {
    display: flex;
    gap: 2em;
}

.open {
    right: 0;
}

@media screen and (min-width: 700px) {
    .close-btn,
    .menu-btn {
        display: none;
    }

    nav {
        position: unset;
        background: none;
        min-height: auto;
        width: auto;
        padding: 0;
    }

    ul {
        flex-direction: row;
        gap: 2em;
    }
}